# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

target/
build/
out/
*.jar
*.war
*.ear
*.zip
*.tar.gz

.idea/
*.iml
*.iws

.DS_Store
Thumbs.db

*.log

.gradle/
mvnw
mvnw.cmd
gradlew
gradlew.bat
